body{
	background-color: black;
	color: purple;
}
p{
	color: purple;
} 
h1{
	color: purple;
}
h2{
	text-align: left;
}
ul{
	font-style: italic;
}
ol{
	font-size: 15px;
}
ol{
	font-style: italic;
}
<h1-align="center"> 

